.album {
  padding: 50px;
}

.album-photos {
  display: flex;
  align-items: center;
}

.album-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-album-header {
  padding: 15px;
  background-color: #6fb4e4;
  color: #ffffff;
}

.btn-album-header:hover {
  background-color: #ffffff;
  color: #6fb4e4;
}