.navbar {
  float: left;
  width: 20%;
  height: 100%;
  padding: 50px;
  position: fixed;
}

.nav-header:hover {
  cursor: pointer;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-navbar {
  background-color: #b32e70;
  color: #ffffff;
  position: absolute;
  bottom: 25px;
  padding: 20px;
}

.btn-navbar:hover {
  background-color: #ffffff;
  color: #b32e70;
}

.btn-navbar:active {
  background-color: #757575;
  color: #ffffff;
  box-shadow: 0 0 0 black;
}